<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>DSPK Coding Club</title>s
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<!--main block starts here -->
<div id="mainblock">
  <!--inner block starts here -->
  <div id="innerblock">
    <!--top block starts here -->
    <div class="topblock">
      <div class="tp_bg3"> <a href="index.html" class="nv_tx">Home Page</a> <a href="index.html" class="nv_tx">Projects</a> <a href="index.html" class="nv_tx">Contacts</a> </div>
      <div class="tp_bg1"> </div>
    </div>
    <!--top block ends here -->
    <!--content panel starts here -->
    <div class="cp_div">
      <div class="lp_div"> <span class="title">Welcome Message</span><br />
        <span class="wel_txt">
        Hello, thanks so much for visiting this site. You have just started on a journey to attain a new super-power i.e. programming. Because once you learn programming you can tell machines to do your work. Machines don't tire and there are ubiquitous. Machines don't tire or get frustrated. And the best of all they do your work while you even sleep or are on vacation. But as Spiderman's uncle said: "great power comes with responsibility.". </br></br>

	So, use this new super power judiciously. I can't wait to see what you will create!
	</span><br />
        <img src="{% static 'images/wel_line.gif' %}" width="559" height="1" alt="" class="wel_line" /><br />
        </span> </div>
      <div class="rp_div"> <img src="{% static 'images/rp_lates.gif' %}" width="94" height="14" alt="" class="rp_lates" /><br />
      <span class="news_title"><a href="https://techcrunch.com/2022/11/08/movio-marketing-videos-generative-ai/">Movio wants to make your marketing videos with generative AI</a></span>
      <span class="news_title"><a href="https://techcrunch.com/2022/09/28/make-your-very-own-ai-generated-pokemon-like-creature/">Make your very own AI-generated Pokemon-like creature</a></span>
      <span class="news_title"><a href="https://techcrunch.com/2022/10/27/google-cloud-gets-into-web3-act-with-managed-blockchain-node-service/">Google Cloud gets into web3 act with managed blockchain node service</a></span>
      <span class="news_title"><a href="https://techcrunch.com/2022/10/24/building-the-bridge-between-web-2-and-web3/">Building the bridge between Web 2.0 and web3</a></span>
      <span class="news_title"><a href="https://techcrunch.com/2022/10/17/indian-e-commerce-giant-flipkart-launches-metaverse-shopping-experience/">Indian e-commerce giant Flipkart launches metaverse shopping experience</a></span>
      <span class="news_title"><a href="https://techcrunch.com/2022/11/11/deviantart-provides-a-way-for-artists-to-opt-out-of-ai-art-generators/">DeviantArt provides a way for artists to opt out of AI art generators</a></span>
      <span class="news_title"><a href=""></a></span>
     </div>
      <div class="center_panel">
        <span class="center_bg2"> <img src="{% static 'images/best_arw.gif' %}" width="27" height="21" alt="" class="best_arw" /> <strong width="27" height="21" class="best_arw_title"> Resources </strong><br />
        <img src="{% static 'images/news_arw.gif' %}" width="3" height="3" alt="" class="news_arw" /> <a href="https://www.python.org/blogs/" class="news_txt">Official Python blog.</a><br />
        <img src="{% static 'images/news_arw.gif' %}" width="3" height="3" alt="" class="news_arw" /> <a href="https://www.udemy.com/course/100-days-of-code/" class="news_txt">Udemy Bootcamp: 100 days of code.</a><br />
        <img src="{% static 'images/news_arw.gif' %}" width="3" height="3" alt="" class="news_arw" /> <a href="https://www.coursera.org/learn/programming-in-python" class="news_txt">Coursera: Programming in Python.</a><br />
        <img src="{% static 'images/news_arw.gif' %}" width="3" height="3" alt="" class="news_arw" /> <a href="https://www.udacity.com/course/introduction-to-python--ud1110" class="news_txt">Udacity: Introduction to Python Programming.</a><br />
	</span>

	<span class="center_bg3"> <img src="{% static 'images/best_arw.gif' %}" width="23" height="26" alt="" class="best_arw" /> <img src="{% static 'images/lp_new.gif' %}" width="110" height="15" alt="" class="lp_best" /><br />
        <img src="{% static 'images/news_arw.gif' %}" width="3" height="3" alt="" class="news_arw" /> <a href="https://www.geeksforgeeks.org/image-based-steganography-using-python/" class="news_txt">Image based Steganography.</a><br />
        <img src="{% static 'images/news_arw.gif' %}" width="3" height="3" alt="" class="news_arw" /> <a href="https://www.geeksforgeeks.org/opencv-python-program-face-detection/?ref=lbp" class="news_txt">Opencv Python program for face detection.</a><br />
        <img src="{% static 'images/news_arw.gif' %}" width="3" height="3" alt="" class="news_arw" /> <a href="https://www.geeksforgeeks.org/machine-learning/?ref=ghm" class="news_txt">Machine Learning.</a><br />
        <img src="{% static 'images/news_arw.gif' %}" width="3" height="3" alt="" class="news_arw" /> <a href="https://www.geeksforgeeks.org/implementing-web-scraping-python-beautiful-soup/?ref=leftbar-rightbar" class="news_txt">Web scraping in Python with BeautifulSoup.</a><br />
        </span>
      </div>
     
    </div>
    <!--content panel ends here -->
    <!--footer panel starts here -->
    <div class="ft_bg">
      <a href="index.html" class="ft_home">Home</a>
      <img src="{% static 'images/ft_bar.gif' %}"  width="1" height="11" alt="" class="ft_bar" />
      <a href="index.html" class="ft_spl">Projects</a>
      <img src="{% static 'images/ft_bar.gif' %}"  width="1" height="11" alt="" class="ft_bar" />
      <a href="index.html" class="ft_spl">Contacts</a>
      <img src="{% static 'images/ft_bar.gif' %}" width="1" height="11" alt="" class="ft_bar" />
    </div>
    <br />
    <br />
    <!--footer panel ends here -->
  </div>
  <!--inner block ends here -->
</div>
<!--main block ends here -->
</body>
</html>
